<section id="video">
	<!-- back button -->
	<a href="/" class="back-button">
		<i class="far fa-arrow-alt-circle-left"></i>
	</a>
	<video autoplay controls>
		<source src="/videos/{{moviesrc}}" type="video/mp4">
	</video>

	<article>
		
	</article>
</section>