<section id="video">
	<!-- back button -->
	<a href="/" class="back-button">
		<i class="far fa-arrow-alt-circle-left"></i>
	</a>
	<video autoplay controls>
		<source src="/videos/{{moviesrc}}" type="video/mp4">
	</video>

	<article class="comments" v-if="reviews.length > 0">
		<dir v-for="review in reviews" :key="review.id">
			<i class="post-date">${review.comments_date}</i>
			<p>
				${review.comments_copy}
			</p>
		</dir>
		
	</article>
</section>